body{
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.main {
    background: #000;
    width: 30%;
    margin: 0 auto;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.container {
    background: #111;
    width: 85%;
    margin: 10px auto;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.profile-links {
    display: block;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    padding: 15px 10px;
}

h4 {
    color: yellow;
    margin-top: 15;
}

header {
    width: 70%;
    background-color: #693737;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer; /* Makes the cursor a hand to show it's interactive */
    transition: background-color 0.3s ease, color 0.3s ease; /* Makes the color change smooth instead of a sudden snap */
}

/* This rule only activates when the mouse is hovering over the <header> */
header:hover {
    background-color:grey; /* The vibrant green from the challenge design */
    color: #333333; /* Dark text so it's readable against the bright green */
}

